.box {
  width: 600px;
  height: 350px;
  color: black;
  background-color: rgb(215, 219, 219);
  border: 2px solid black;
  margin: auto;
  margin-top: 35px;
}

.box h2 {
  text-align: center;
}

.box input {
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
}

.box p {
  margin-left: 15px;
}

.box textarea {
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.button {
  height: 25px !important;
  width: 100px !important;
  color: white;
  background-color: black;
  display: inline-block;
  margin-left: 10px;
}

.myButton {
	background-color:#000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:14px 20px;
    text-decoration:none;
    margin-top: 15px;
    margin-left: 10px;